# Compiled class files
*.class

# Package Files 
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Log files
*.log

# MySQL
*.sql

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Build directories
build/
target/
out/


# EXCEPT this specific subfolder
!out/production/
!out/production/expense-tracker/
!out/production/expense-tracker/.gitkeep
